html, body {
	height: 100%;
}

.carousel {
	background: url("./screens/back-1.jpg") no-repeat center center;
  	-webkit-background-size: cover;
	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 100%;
}

.landing {
	padding: 60px 0 40px 0;
	text-align: center;	
}

.landing h1 {
	font-size: 6em;
	margin: 50px 0px 15px 0;
}

.landing p {
	font-size: 2em;
	margin: 0;
	padding: 0 100px;
}

.marketing {
	backfground-color: yellow;
	padding-top: 20px;
	padding-bottom: 100px;	
}

.marketing .col-md-4  {
	text-align: center;
	margin-top: 10px;
}

.marketing .col-md-4 .inner  {
	padding: 10px 10px;
	background-color: #f0f0f0;
    border-radius: 6px;
}

.marketing .col-md-4 .inner h2 {
	margin: 0 0 10px 0;
	font-size: 2em;
}

.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}

body {
  color: #5a5a5a;
}

i.service-icon {
    borfder: 3px solid blue;
    bofrder-radius: 50%;
    display: inline-block;
    font-size: 5.5em;
    height: 140px;
    line-height: 136px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
}

i.service-icon.fa-mobile {
    font-size: 8em;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


.carousel {
}
.carousel-caption {
  z-index: 10;
}

.carousel .item {
  background-color: #7ffff77;
  padding-top: 40px;
}
.carousel-inner > .item > img {
  height: 90%;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}